[Desktop Entry]
Name=visParaflow
Exec=/usr/local/bin/visParaflow
Icon=/usr/share/icons/hicolor/48x48/apps/visParaflow.svg
Type=Application
Categories=Utility;