CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
CMakeUserPresets.json

# Visual Studio
.vs/

# Application specific
.DS_Store
.env/

build/
deploy/
setup/

app/
_CPack_Packages/

*.app
*.dmg
*.dep
*.exe
